* {
    margin: 0;

    /* "    box-sizing: border-box;" includes padding and border when setting a width or height  */
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: 140px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

#container {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    z-index: 5;
}

#navBar {
    background-color: #062E3B;
}

#logo {
    height: 80px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 45px;
    margin-top: 25px;
    color: white;
}

li a {
    color: white;
    text-transform: uppercase;
}

li a:hover {
    color: grey;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    position: relative;
}

#video-container {
    background-image: #4b5163;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

#content {
    color: white;
    text-align: center;
    z-index: 2;
}

#click {
    display: inline-block;
    border: 2px solid white;
    padding: 10px 30px;
    margin-top: 25px;
    margin-left: 15px;
    background-color: #4b516388;
    color: white;
    font-size: 20px;
    border-radius: 80px;
}

#click:hover {
    transform: scale(0.95);
    border-color: cornflowerblue;
}

#about {
    text-align: center;
    padding: 20px;  
}

#who {
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#who > img {
    padding: 10 px;
    width: 100%;
}


#mission {
    background-color: #062E3B;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    color: white;
}

#mission > p {
    font-size: 30px;
    color: grey;
}

span {
    color: white;
    font-weight: 700;
}

#social {
    background-color: #282828;
    text-align: center;
    padding: 40px;
    color: white;
    font-size: 10px;
}

i {
    color: white;
    font-size: 30px;
    margin: 10px 15px;
}